<% if candidate.errors.any? %>
  <ul>
  <% candidate.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= simple_form_for(candidate, html: {id: 'candidate_form'}) do |form| %>
  <%= form.input :name, label: '姓名' %>
  <%= form.input :age, label: '年齡'%>
  <%= form.input :party, label: '黨派'%>
  <%= form.input :platform, label: '政見'%>
  <%= form.submit %>
<% end %>