<h1>結帳</h1>

<%= render 'cart' %>

<%= simple_form_for(@order) do |form| %>
  <%= form.input :recipient, label: false, placeholder: '請輸入收件人姓名' %>
  <%= form.input :phone, label: false, placeholder: '市話或行動電話' %>
  <%= form.input :address, label: false, placeholder: '收件人地址' %>
  <%= form.input :note, label: false, placeholder: '備註' %>

  <hr>
  <div id="payment-form"></div>

  <%= form.submit '確認送出' %>
<% end %>

<script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js"></script>

<script>
  var clientToken = "<%= @token %>";
  braintree.setup(clientToken, "dropin", { container: "payment-form" });
</script>